@model List<PostgreProject.Entities.Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Service Listesi</h2>

<a class="btn btn-primary" href="/Service/Create">Yeni Service Ekle</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Icon</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><i class="@item.Icon" style="font-size:24px;"></i></td>
                <td>@item.ServiceTitle</td>
                <td>@item.ServiceDescription</td>

                <td>
                    <a class="btn btn-sm btn-warning" href="/Service/Edit/@item.Id">
                        <i class="mdi mdi-pencil"></i>
                    </a>

                    <a class="btn btn-sm btn-danger" href="/Service/Delete/@item.Id"
                       onclick="return confirm('Bu servicei silmek istediğinize emin misiniz?')">
                        <i class="mdi mdi-delete"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


